.project-card-title{
    position:absolute;
   
    top: 10%;
    left: 15%;
    
    font-family: 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.5vw;
    font-weight: 700;
    color: rgb(255, 255, 255);
    -webkit-text-stroke-width: .8px;
    -webkit-text-stroke-color: gray;
}

.project-card-year{
        font-family: 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 1.5vw;
        font-weight: 700;
        color: rgb(255, 255, 255);
        -webkit-text-stroke-width: .8px;
        -webkit-text-stroke-color: gray;
        
        position: absolute;
        bottom:10%;
        right: 15%;
    }


.project-card:hover{
    transform: scale(1.01);
    
}
.project-card{
    display:block;
    position: relative;
    text-align: center;
    
    transition: all .15s ease-in-out;
    border-radius: 8%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   
}

.column{
    
    float: left;
    width: 20%;
    padding: 2%;
    position: relative;
      
}


.row::after {
    content:"";
    clear:both;
    display:table;
    
}



.divider{
    height: 0vh;
    
    
    margin-bottom:5vh;

}



.site-title a{
    text-decoration: none;
    text-align:center;
    color:#45B69C;
    -webkit-text-stroke: 1px #738886;
    transition: all .15s ease-in-out;
    font-family: niveau-grotesk-small-caps, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 200%;


}

.site-title a:hover{
    color:#a8dace;
}



.site-title, .site-description{
    text-align:center;
    margin-top:0px;
    margin-bottom:0;
    
}



.footer-text{
    position:relative;
    display: inline;
    text-align:center;
    color:#45B69C;
    
    font-weight:600;
    -webkit-text-stroke: .5px #738886;
    z-index: 3;
}


.site-footer{
    
    
    
    bottom:0;
    
    width:100%;
    height:6vh;
    text-align:top;
    margin-bottom:-13vh;
    
    
}

.site-branding{
    
    
    margin-top:0px;
    height:8vh;
    
}

html, div#page{
    
}

.year{
    
    
    height:65px;
    
    box-shadow: 0 4px 3px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-right:90vw;
    text-align:center;
    
    padding-right:1vw;
    color:#45B69C;
    background-color: white;
    
    -webkit-text-stroke: .5px #738886;
    
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    
}

.year .text{
    
    font-size:30px;
    padding-top:8px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight:bolder;
    
}




ul#primary-menu {
    
    margin-bottom:3vh;
    margin-top: 1vh;
    margin-left:35vw;
    margin-right:35vw;
    border-radius:10px;
    
  }
.menu-item {
   
    margin: 0 auto;
    text-align: center;
    padding: 1px 10px;
    border-bottom: 5px solid gray;
    
    
}
.menu-item a{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight:400;
    font-size:800;
    color:#4e4e4e;
    -webkit-text-stroke: .5px #738886;
}
.menu-item a:hover{
    color:#a8dace;
}

button.menu-toggle{
    margin:0 auto;
}

.current-menu-item{
    
    border-bottom: red solid 5px;
    
}



@media screen and (min-width: 770) {

	.menu-toggle {
		display: none;
	}

	.main-navigation ul {
		display: flex;
	}
   
}

@media screen and (max-width:770px){
    ul#primary-menu{
        margin-left:10vw;
        margin-right:10vw;
        display:flex;
        
    }
    .year{
        margin-top:1vh;
        margin-bottom: 1vh;
        width: 20vw;
        height:6vh;
        padding-right:2vw;
        
    }

    


    .year .text{
        font-size:3vh;
        padding-top:.5vh;
    }
    .column{
    
        float: none;
        width: 96%;
        padding: 3%;
        
        
    }
    .project-card-title{
        top: 4%;
        left: 8%;
        font-size:10vw;
    }
    .project-card-year{
        top: 4%;
        left: 8%;    
    }
    .project-card{
        margin-top:1vh;
        margin-bottom:1vh;
        
    }
    

}

.unselectable{
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.bottom-fade{
    z-index:2;
    
    position:sticky;
    bottom: 0;
    height:6vh;
    margin-bottom:0vh;
}


.whole-page{
    
    }