.project-card-title{
    position: absolute;
    top: 50px;
    left: 250px;
    color: black;
}

.project-card:hover{
    transform: scale(1.01);
}
.project-card{
    position: relative;
    text-align: center;
    color: white;
    transition: all .2s ease-in-out;
    width: 10vw;
}

a{
    color:rgb(0, 70, 128);
}



.site-title a{
    text-decoration: none;
    text-align:center;
}

.site-title, .site-description{
    text-align:center;
}