.site-main{
    text-align:center;
}

p{
    padding-left:2vw;
    padding-right:2vw;
}

.post-spacing{
    height: 5vh;
}

.site-footer{
    position:static;
}

.back-button{
    color:black;
    background-color: #D8DDEF;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight:400;
    appearance: button;
    text-decoration: none;
    border-radius: 5px;
}

.back-button:hover{
    background-color:#f1f3fa;
}

